<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- yeh /public likhna galat hai cause already static files set to public -->
    <!-- <link rel="stylesheet" href="/public/stylesheets/style.css"> -->
     <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <!-- h1 tag mein calculation likhenge-->
     <h1>Hey Duaaa, you are a grown up <%= 2025-2004%> year old now</h1>
</body>
</html>